ul {
    list-style-type: none;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    padding: 10px;
}

.strike-through {
    text-decoration: line-through; 
}

.delete {
    margin: 10px;
}

section {
    padding: 10px;
    font-size: 1.5em;
}

button {
    cursor: pointer;
}